
PORT=3000

# Este é o "token da meta" que você cria no painel do WhatsApp
VERIFY_TOKEN=EAAVf1Rqi6W8BP92JJ1qIV1KZB8teqvXDJK8FTj07zyYchl4YadaLZANuhqOCgbiQUKakF3mlRS03swOQ8zjCvZAFuyH2jteXv4Xvo5ZALNt6dO3VZBBZApq3ZCjnGrvGxo3PC1Rcn8xDHZCbE6nTwz6PSit5svTdzzQZCfte3GIR5p1vUQ0Dg67NFzDXRZCz84rl4sJlOz8m5ndBHT2VTqXWZABdlKWySBPdkrP5HvCaK3fSq4zeJnR7H6olrzQ2dS5Int6v7oMuWzG5BoRBrZA9C2M5VcPa

# Chave de API para o Google Gemini
GEMINI_API_KEY=AIzaSyAdaJbWiHW7w71s9_kSdcr8GWzWKyEm_DI

# ID do seu aplicativo no painel da Meta
APP_ID=1512743763110255

# Esta é a sua "service account" do Firebase, codificada em Base64
FIREBASE_SERVICE_ACCOUNT_BASE64=BAyb2LLZuDwY8hHtg0AmEJo7nQ9RlvWBJbEA_-Ft9VAfeubS11EZTaqCmuXLGyVoojNZBkLfPFHY5JbCSjM-6CoBAyb2LLZuDwY8hHtg0AmEJo7nQ9RlvWBJbEA_-Ft9VAfeubS11EZTaqCmuXLGyVoojNZBkLfPFHY5JbCSjM-6Co